{:output-wrapper true, :externs ["closure-js/externs"], :libs ["closure-js/libs"], :output-to "resources/public/js/compiled/project_euler.js", :output-dir "resources/public/js/compiled", :main project-euler.core, :optimizations :advanced, :pretty-print false, :source-map "resources/public/js/compiled/project_euler.js.map"}