/* some style */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    padding: 1em;
}

body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1em;
}

.question {
    overflow: auto;
    flex: 1 1 400px;
    margin: 0 1em;
    border-bottom: 1px solid #f2f2f0;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

.question-text {
    /* flex: 1 1 auto; */
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
